<div class="col-sm-6 col-md-4 col-lg-3 mt-4">
	<div class="card">
		<h4 class="card-title">Título</h4>
	    <%= image_tag(@auction.image.url(:medium), class: "card-img-top") %>
	    <div class="card-block">
	        
	        
	        <div class="card-text">
	            <p> Início: <%= @auction.begin_date%> </p>
	            <p> Fim: <%= @auction.begin_date%> </p>
	            <span class="float-right">Qtde: </span>
	            <span><i class=""></i>75 Itens</span>
	        </div>
	    </div>
	</div>
</div>