<div class="container">
  <div class="row">
     <h1> Seja bem Vindo Administrador</h1>
    <div class="column">
    <h5> Controle de  Clientes</h5>
      <table class="table">
        <tbody>
        
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
