<section>
  <article class="card mb-5 text-center">
    <div class="card-body">	
      <header class="card-title">
        <h1>Bucketlist</h1>	
      </header>

      <p class="card-text">
        É a maneira mais fácil de fazer as coisas. Se você está planejando um
        feriado, compartilhando uma lista de compras com um parceiro ou
        gerenciando vários projetos de trabalho, o Wunderlist está aqui para
        ajudá-lo a marcar seus itens pessoais e profissionais.
      </p>
    </div>
  </article>

  <article class="card mb-5 text-center">
    <div class="card-body">
      <header class="card-title">
        <h2>O que preciso fazer agora?</h2>	
      </header>

      <p class="card-text">
        Se você faz essa pergunta com uma certa frequência, este é o aplicativo
        ideal para você
      </p>

      <a href="#" class="btn btn-primary"> Registre-se agora mesmo!</a>
    </div>
  </article>

  <article class="card mb-5">
    <div class="card-body">
      <header class="card-title">
        <h2>Fale conosco</h2>	
      </header>

    
    </div>
  </article>


</section>
