<p>Seja Bem vindo <%= @email %> ao sistema de leiao online !</p>

<p>Voce pode confirmar sua conta no link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token) %></p> 
