
<div class="authform ">
  <h1>Produtos</h1>
  <h3>Produtos disponíveis</h3>
</div>

<div class="container">
  <div class="">
    
      <%= render @products %>
    
  </div>

</div>


      
</table>
</div>


